<!doctype html><html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8">
    
      <title>Get Started</title>
    
    
      <link rel="shortcut icon" href="../../static/_hcms/hubfs/b-icon-gold.png">
    
    <meta name="description" content="Sign up to work with Beewise.">
    
    <link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <meta property="og:description" content="Sign up to work with Beewise.">
    <meta property="og:title" content="Get Started">
    <meta name="twitter:description" content="Sign up to work with Beewise.">
    <meta name="twitter:title" content="Get Started">

    

    
    <style>
a.cta_button{-moz-box-sizing:content-box !important;-webkit-box-sizing:content-box !important;box-sizing:content-box !important;vertical-align:middle}.hs-breadcrumb-menu{list-style-type:none;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px}.hs-breadcrumb-menu-item{float:left;padding:10px 0px 10px 10px}.hs-breadcrumb-menu-divider:before{content:'›';padding-left:10px}.hs-featured-image-link{border:0}.hs-featured-image{float:right;margin:0 0 20px 20px;max-width:50%}@media (max-width: 568px){.hs-featured-image{float:none;margin:0;width:100%;max-width:100%}}.hs-screen-reader-text{clip:rect(1px, 1px, 1px, 1px);height:1px;overflow:hidden;position:absolute !important;width:1px}
</style>

<link rel="stylesheet" href="../../static/hs-fs/hub/26497807/hub_generated/template_assets/102342271980/1724285453546/beewise/assets/styles/global.min.css">
<link rel="stylesheet" href="../../static/hs-fs/hub/26497807/hub_generated/module_assets/98870303974/1725876283893/module_98870303974_Global_Header.min.css">
<link rel="stylesheet" href="../../static/hs-fs/hub/26497807/hub_generated/module_assets/100225593068/1718223108790/module_100225593068_Space_Section.min.css">
<link rel="stylesheet" href="../../static/hs-fs/hub/26497807/hub_generated/module_assets/102397532859/1717671502782/module_102397532859_demo-section.min.css">
<!-- Editor Styles -->
<style id="hs_editor_style" type="text/css">
.dnd_area-row-1-max-width-section-centering > .row-fluid {
  max-width: 1410px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
/* HubSpot Styles (default) */
.dnd_area-row-1-padding {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
</style>
    

    
    <link rel="canonical" href="get-started.html">

<style>
  .body-wrapper {
    margin-top: -1px; /* fix odd 1px white space top */
    }
  h1 {
    max-width: 750px;
    margin: auto;
  }
  .footer .hs-menu-depth-1 > a,
  .footer .hs-menu-depth-1 > a:hover {
  font-weight: bold;
  }
  .footer .hs-menu-depth-2 > a,
  .footer .hs-menu-depth-2 > a:hover {
  font-weight: 400;
  }
  .footer .hs-menu-depth-1 > a:hover,
  .footer .hs-menu-depth-2 > a:hover {
  	text-decoration: underline;
  }
  .splide__toggle.is-active {
  	display: none;
  }
</style>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5XV2HLH');</script>
<!-- End Google Tag Manager -->
<meta property="og:url" content="https://beewise.ag/get-started">
<meta name="twitter:card" content="summary">
<meta http-equiv="content-language" content="en">






    
  <meta name="generator" content="HubSpot"></head>
  <body>
    <div class="body-wrapper   hs-content-id-114164623095 hs-site-page page ">
      
      <main id="main-content">
        
<div class="container-fluid">
<div class="row-fluid-wrapper">
<div class="row-fluid">
<div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-1 dnd-section">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell dnd-column" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-2 dnd-row">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget dnd-module" style="" data-widget-type="custom_widget" data-x="0" data-w="12">
<div id="hs_cos_wrapper_widget_1725404967018" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">





<header class="header js-header">
  <div class="header-wrap dark">
    <div class="header__logo">
      

      <a href="home.html?hsLang=en" class="header__logo-link dark">
        <img class="logo" src="../../static/_hcms/hubfs/brownLogo.svg" loading="lazy" alt="brownLogo" width="150" height="48">
      </a>
      

    </div>
    <nav class="header__menu js-header-menu">
      <ul class="header__menu-list dark">
        







<li class="header__menu-item header__menu-item--depth-1  hs-skip-lang-url-rewrite">
  <a class="header__menu-link  " href="growers.html">Growers</a>
  
</li>



<li class="header__menu-item header__menu-item--depth-1  hs-skip-lang-url-rewrite">
  <a class="header__menu-link  " href="beekeepers.html">Beekeepers</a>
  
</li>



<li class="header__menu-item header__menu-item--depth-1  hs-skip-lang-url-rewrite">
  <a class="header__menu-link  " href="beesforbuildings.html">Bees for Buildings</a>
  
</li>



<li class="header__menu-item header__menu-item--depth-1  hs-skip-lang-url-rewrite">
  <a class="header__menu-link  " href="impact.html">Our Impact</a>
  
</li>




      </ul>
      <div class="mobile-button">
        
        <a href="https://grower.beewise.ag/signin" class="btn-main btn--small">Login</a>
        
        
        
      </div>
    </nav>
    <div class="header__nav-addition">
      
      <a href="https://grower.beewise.ag/signin" class="btn-main btn--small">Login</a>
      
      
    </div>
    <div class="header__nav-addition-mob">
      <button class="header__menu-toggle open">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
          <path d="M22.5 11.9994C22.5 12.4964 22.0971 12.8994 21.6 12.8994H2.4C1.90295 12.8994 1.5 12.4964 1.5 11.9994C1.5 11.5023 1.90294 11.0994 2.4 11.0994H21.6C22.0971 11.0994 22.5 11.5023 22.5 11.9994Z" fill="#4E4540" />
          <path d="M22.5 4.19907C22.5 4.69613 22.0971 5.09907 21.6 5.09907H2.4C1.90294 5.09907 1.5 4.69613 1.5 4.19907C1.5 3.70202 1.90294 3.29907 2.4 3.29907H21.6C22.0971 3.29907 22.5 3.70202 22.5 4.19907Z" fill="#4E4540" />
          <path d="M22.5 19.7997C22.5 20.2967 22.0971 20.6997 21.6 20.6997H2.4C1.90295 20.6997 1.5 20.2967 1.5 19.7997C1.5 19.3026 1.90294 18.8997 2.4 18.8997H21.6C22.0971 18.8997 22.5 19.3026 22.5 19.7997Z" fill="#4E4540" />
        </svg>
      </button>
      <button class="header__menu-toggle close">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewbox="0 0 21 22" fill="none">
          <path d="M10.2496 11L19.4996 1.75004M10.2496 11L0.999592 1.75004M10.2496 11L0.999593 20.25M10.2496 11L19.4996 20.25" stroke="#4E4540" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
  </div>
</header></div>

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-3 dnd_area-row-1-padding dnd_area-row-1-max-width-section-centering dnd-section">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell dnd-column" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-4 dnd-row">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget dnd-module" style="" data-widget-type="custom_widget" data-x="0" data-w="12">
<div id="hs_cos_wrapper_widget_1725405045917" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"><div class="section-space"></div></div>

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-5 dnd-row">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget dnd-module" style="" data-widget-type="custom_widget" data-x="0" data-w="12">
<div id="hs_cos_wrapper_widget_1715337829511" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"><div class="quote-quiz-section">
  <div class="quote-quiz-left">
    
    <div class="quote-quiz-logo">
      <a href="home.html?hsLang=en" class="quote-quiz__logo-link">
         <img class="logo" src="../../static/_hcms/hubfs/Untitled%20design%20(53)-1.png" loading="lazy" alt="Untitled design (53)-1">
      </a>
    </div>
    
    
      <h1 class="quote-quiz-title">Get Started With Us</h1>
    
    <div class="quote-quiz-content desktop">
      
      <div class="quote-quiz-cards">
        
          
            <div class="quote-quiz-card">
              
                <img class="quote-quiz-card__image" src="../../static/_hcms/hubfs/Frame%20625.svg" alt="Frame 625">
              
              <div class="quote-quiz-card__content">
                
                  <h3 class="quote-quiz-card__title">150</h3>
                
                
                  <p class="quote-quiz-card__description">Employees </p>
                
              </div>
            </div>
          
            <div class="quote-quiz-card">
              
                <img class="quote-quiz-card__image" src="../../static/_hcms/hubfs/Frame%20625.svg" alt="Frame 625">
              
              <div class="quote-quiz-card__content">
                
                  <h3 class="quote-quiz-card__title">1,000+</h3>
                
                
                  <p class="quote-quiz-card__description">BeeHomes™</p>
                
              </div>
            </div>
          
            <div class="quote-quiz-card">
              
                <img class="quote-quiz-card__image" src="../../static/_hcms/hubfs/Frame%20625.svg" alt="Frame 625">
              
              <div class="quote-quiz-card__content">
                
                  <h3 class="quote-quiz-card__title">250K+</h3>
                
                
                  <p class="quote-quiz-card__description">Hives placed/year</p>
                
              </div>
            </div>
          
        
      </div>
        
        
          <div class="quote-quiz-feedback">
               
            <svg width="20" height="14" viewbox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.56 13.8H0.44L6.2 0.179998H10.1L6.56 13.8ZM16.28 13.8H10.16L15.92 0.179998H19.82L16.28 13.8Z" fill="#65BD60" />
            </svg>
              
            <div class="quote-quiz-feedback__content">
              
                <h3 class="quote-quiz-feedback__feedback">Heading into our third season working together, Beewise has proven to be a trusted partner for us. We're not only continuing to see positive business outcomes, but also we get great transparency."</h3>
              
              <div class="quote-quiz-feedback__bottom">
                <div class="quote-quiz-feedback__author-info">
                
                  <p class="quote-quiz-feedback__author">Zac Ellis</p>
                
                
                  <p class="quote-quiz-feedback__author">Senior Director of Agronomy at Olam Food Ingredients</p>
                
              </div>
              
              </div>
            </div>
          </div>
        
    </div>
  </div>
  <div class="quote-quiz-right">
    
      <div data-tf-live="01HXAQGW6HE932X0WGM1SV80K2"></div><script src="http://embed.typeform.com/next/embed.js"></script>
    
  </div>
  <div class="quote-quiz-content mobile">
      
      <div class="quote-quiz-cards">
        
          
            <div class="quote-quiz-card">
              
                <img class="quote-quiz-card__image" src="../../static/_hcms/hubfs/Frame%20625.svg" alt="Frame 625">
              
              <div class="quote-quiz-card__content">
                
                  <h3 class="quote-quiz-card__title">150</h3>
                
                
                  <p class="quote-quiz-card__description">Employees </p>
                
              </div>
            </div>
          
            <div class="quote-quiz-card">
              
                <img class="quote-quiz-card__image" src="../../static/_hcms/hubfs/Frame%20625.svg" alt="Frame 625">
              
              <div class="quote-quiz-card__content">
                
                  <h3 class="quote-quiz-card__title">1,000+</h3>
                
                
                  <p class="quote-quiz-card__description">BeeHomes™</p>
                
              </div>
            </div>
          
            <div class="quote-quiz-card">
              
                <img class="quote-quiz-card__image" src="../../static/_hcms/hubfs/Frame%20625.svg" alt="Frame 625">
              
              <div class="quote-quiz-card__content">
                
                  <h3 class="quote-quiz-card__title">250K+</h3>
                
                
                  <p class="quote-quiz-card__description">Hives placed/year</p>
                
              </div>
            </div>
          
        
      </div>
        
        
          <div class="quote-quiz-feedback">
               
            <svg width="20" height="14" viewbox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.56 13.8H0.44L6.2 0.179998H10.1L6.56 13.8ZM16.28 13.8H10.16L15.92 0.179998H19.82L16.28 13.8Z" fill="#65BD60" />
            </svg>
              
            <div class="quote-quiz-feedback__content">
              
                <h3 class="quote-quiz-feedback__feedback">Heading into our third season working together, Beewise has proven to be a trusted partner for us. We're not only continuing to see positive business outcomes, but also we get great transparency."</h3>
              
              <div class="quote-quiz-feedback__bottom">
                <div class="quote-quiz-feedback__author-info">
                
                  <p class="quote-quiz-feedback__author">Zac Ellis</p>
                
                
                  <p class="quote-quiz-feedback__author">Senior Director of Agronomy at Olam Food Ingredients</p>
                
              </div>
              
              </div>
            </div>
          </div>
        
    </div>
</div></div>

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div>
</div>
</div>

      </main>
    </div>
    
    
    
    
<!-- HubSpot performance collection script -->
<script defer src="../../static/_hcms/hs/hsstatic/content-cwv-embed/static-1.1293/embed.js"></script>
<script>
var hsVars = hsVars || {}; hsVars['language'] = 'en';
</script>

<script src="../../static/_hcms/hs/hsstatic/cos-i18n/static-1.53/bundles/project.js"></script>
<script src="../../static/hs-fs/hub/26497807/hub_generated/module_assets/98870303974/1725876283027/module_98870303974_Global_Header.min.js"></script>

<!-- Start of HubSpot Analytics Code -->
<script type="text/javascript">
var _hsq = _hsq || [];
_hsq.push(["setContentType", "standard-page"]);
_hsq.push(["setCanonicalUrl", "https:\/\/beewise.ag\/get-started"]);
_hsq.push(["setPageId", "114164623095"]);
_hsq.push(["setContentMetadata", {
    "contentPageId": 114164623095,
    "legacyPageId": "114164623095",
    "contentFolderId": null,
    "contentGroupId": null,
    "abTestId": 114164623093,
    "languageVariantId": 114164623095,
    "languageCode": "en",
    
    
}]);
</script>

<script type="text/javascript" id="hs-script-loader" async defer src="../../static/_hcms/hs/scriptloader/26497807.js"></script>
<!-- End of HubSpot Analytics Code -->


<script type="text/javascript">
var hsVars = {
    render_id: "33b76830-71aa-4e41-9543-603a3a88321f",
    ticks: 1740124619316,
    page_id: 114164623095,
    
    content_group_id: 0,
    portal_id: 26497807,
    app_hs_base_url: "https://app-eu1.hubspot.com",
    cp_hs_base_url: "https://cp-eu1.hubspot.com",
    language: "en",
    analytics_page_type: "standard-page",
    scp_content_type: "",
    analytics_page_id: "114164623095",
    category_id: 1,
    folder_id: 0,
    is_hubspot_user: false
}
</script>


<script defer src="../../static/_hcms/hs/hsstatic/HubspotToolsMenu/static-1.393/js/index.js"></script>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5XV2HLH" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


  
</body>
</html>